@use '../fluid' as fluid;
@use '../variables' as *;

.section-container {
	max-width: $container-max-width;
	min-height: 100vh;
	margin-inline: auto;
	// padding-inline: #{$section-padding-inline}px;
	@include fluid.fluid-space(padding-inline, $section-padding-inline-min, $section-padding-inline-max, 768, $fluid-viewport-max);
	@include fluid.fluid-space(padding-block, $section-padding-block-min, $section-padding-block-max, $fluid-viewport-min, $fluid-viewport-max);
}
.section-content-space {
	display: flex;
	flex-direction: column;

	@include fluid.fluid-space(gap, 50, 100, $fluid-viewport-min, $fluid-viewport-max);
}

.section-badge {
	@include fluid.fluid-space(font-size, 14, 24, $fluid-viewport-min, $fluid-viewport-max);
	&__label {
		@include fluid.fluid-space(width, 24, 48, $fluid-viewport-min, $fluid-viewport-max);
	}
}
.mode-ring {
	@include fluid.fluid-space(width, 250, 310, $fluid-viewport-min, $fluid-viewport-max);
}
.hero-section__copy {
	@include fluid.fluid-type($type-section-copy-min, $type-section-copy-wide-max, $fluid-viewport-min, $fluid-viewport-max);
}

.hero-section__logo {
	@include fluid.fluid-space(width, 210, 427, $fluid-viewport-min, 1280);
}

.hero-section__artwork {
	max-width: 100%;
	@include fluid.fluid-space(width, 270, 660, $fluid-viewport-min, 1920);
}

.poc-section__title {
	@include fluid.fluid-type(53, 98, $fluid-viewport-min, $fluid-viewport-max);
}

.pioneer-section__title {
	@include fluid.fluid-type($type-section-title-min, $type-section-title-compact-max, $fluid-viewport-min, $fluid-viewport-max);
}

.footer-section__title {
	letter-spacing: -0.025em;
	@include fluid.fluid-type(24, 36);
}
.footer-section {
	@include fluid.fluid-space(padding-inline, $section-padding-inline-min, $section-padding-inline-max, $fluid-viewport-min, $fluid-viewport-max);
	@include fluid.fluid-space(padding-block, 64, 120, $fluid-viewport-min, $fluid-viewport-max);
}
